# Terraform directories
.terraform/

# State files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash logs
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lock info
.terraform.tfstate.lock.info

# CLI configuration
.terraformrc
terraform.rc